a[data-v-4178dc90]:link {
    color: #045d56
}

a[data-v-4178dc90]:visited {
    color: #1eb980
}

a[data-v-4178dc90]:hover {
    color: #045d56
}

a[data-v-4178dc90]:active {
    color: #1eb980
}

a[data-v-207ba3de]:link,
a[data-v-207ba3de]:visited {
    color: #1eb980
}

a[data-v-207ba3de]:hover {
    color: #045d56
}

a[data-v-207ba3de]:active {
    color: #1eb980
}

a[data-v-4ac519be]:link,
a[data-v-4ac519be]:visited {
    color: #1eb980
}

a[data-v-4ac519be]:hover {
    color: #045d56
}

a[data-v-4ac519be]:active {
    color: #1eb980
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0;
    background-color: #27272f
}